# Ambientes Virtuais
/venv/
/env/
/.venv/
/.env/

# Ficheiros de Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Ficheiros de IDEs e Editores
.vscode/
.idea/
*.swp
*.swo

# Ficheiros de Build e Distribuição (para PyInstaller)
/build/
/dist/
*.spec

# Ficheiros de Sistema Operacional
.DS_Store
Thumbs.db

# Ficheiros de Log
*.log